- @page_title = t("shoppe.settings.settings")

= content_for :header do
  %h2.settings= t("shoppe.settings.settings")

= form_tag :url => settings_path do |f|

  - Shoppe.settings_groups.each do |group, fields|
    = field_set_tag t("shoppe.settings.#{group}") do
      - fields.each do |f|
        %dl.sided
          %dt= settings_label f
          %dd
            = settings_field f
            - if v = t("shoppe.settings.help")[f]
              %p.help= v

      %dl.sided
        %dt Текст в заголовке распечатки заказа
        %dd
          = text_area :settings, :print_header, rows: 6, cols: 140, class: 'text', height: '240px', value: Shoppe.settings['print_header']
          %p.help текст, который будет размещаться в заголовке распечатки заказа, например данные по магазину, адрес и так далее

  %p.submit.sided
    = submit_tag t("shoppe.settings.save_settings"), :class => 'button green'


:javascript
  window.onload = function() {
      window.editor = new Editor({element: document.getElementById('settings_print_header')});
  }
