- @page_title = t('shoppe.product_category.product_categories')

= content_for :header do
  %p.buttons=link_to t('shoppe.product_category.new_category'), :new_product_category, :class => 'button green'
  %h2.products= t('shoppe.product_category.product_categories')

.table
  %table.data(role='product-categories')
    %thead
      %tr
        %th
        %th= t('shoppe.product_category.name')
    %tbody
      - if @product_categories_without_parent.empty?
        %tr.empty
          %td= t('shoppe.product_category.no_categories')
      - else
        - @product_categories_without_parent.each_with_index do |cat, idx|
          %tr{ data: {position: idx, scope: 'root'}, id: "cat_#{cat.id}" }
            %td.handle
            %td
              = link_to cat.name, [:edit, cat]
              .right-block
                - if cat.children.empty?
                  = link_to I18n.t('shoppe.products.products'), products_path(category_id: cat.id)
                  &nbsp;
                - I18n.available_locales.each do |i|
                  - if cat.translations.where(locale: i).count >= 1
                    = link_to i, edit_product_category_localisation_path(cat, cat.translations.where(locale: i).first.id)
                  - else
                    = link_to i, new_product_category_localisation_path(cat, locale_field: i)
                  &nbsp;
              - if cat.children.any?
                %br
                - cat.children.each_with_index do |c, idx|
                  = render partial: 'category', locals: {category: c, index: idx}
